<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [class.active] = "current_url === '/'" [routerLink]="['']">Questionnaire</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.active] = "current_url === '/unapproved'" [routerLink]="['/unapproved']">Unapproved Users</a>
      </li>
    </ul>
  </div>
  <div class="logout-panel">
    <div> Hello, {{username}}</div>
    <button class="btn btn-danger" type="button" (click)="logout()">Logout</button>
  </div>

</nav>

